<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Americanos</title>
    <style>
        body {
            background-color: #6fffe7; /* Cor de fundo clara */
            color: #11015a; /* Cor do texto */
        }
    </style>
</head>
<body>
    <h1>PROJETO AMERICANOS</h1>
    <a href="/aluno"><button style="color: #11015a;">Acessar meus Americanos</button></a><br><br>
    <a href="/professor_login"><button style="color: #11015a;">Acesso Professor</button></a><br><br>
    <a href="/admin_login"><button style="color: #11015a;">Administrador</button></a>
</body>
</html>
